@import "../../assets/styles/variables.scss";

.layoutContainer {
  padding-top: $padding-level2 !important;
  margin-bottom: 40px !important;
  display: flex;
  flex: 1 1;
  gap: 40px;
}

.middle {
  width: calc(100% / 6 * 5);
}

.right {
  background-color: $light;
  position: absolute;
  right: 10px;
  top: 160px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .left {
    display: none;
  }
  .middle {
    width: 100%;
  }
}
