@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  display: flex;
  gap: 40px;
}

.name {
  max-width: 180px;
  flex: 1 1;
  @include font-settings($p, 600, $light);
}

:global(.dark-theme) {
  @include font-settings($p, 600, $light);
}

.value {
  color: $background-black;
}
:global(.dark-theme) {
  .value {
    color: $white;
  }
}
