.accountInfo {
  display: flex;
  align-items: center;
  width: 230px;
}

.accountCapitals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 2px;
}

.accountName {
  margin: 0 auto;
}
