@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  display: flex;
  align-items: start;
  gap: 40px;
}

.name {
  min-width: 180px;
  @include font-settings($p, 600, $light);
}
.value {
  color: $background-black;
}
:global(.dark-theme) {
  .value {
    color: $white;
  }
}
