@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  position: relative;
  cursor: pointer;
  &:hover {
    .cardName {
      color: $primary;
    }
    .poster {
      border-color: aqua;
    }
  }
  .poster {
    width: 100%;
    aspect-ratio: 1/1.4;
    border-radius: 20px;
    height: 350px;
  }

  .ratingContainer {
    position: absolute;
    display: flex;

    top: 20px;
    left: 20px;
  }

  .cardName {
    transition: all 0.3s ease;
    margin-top: $padding-level6;
    margin-bottom: 15px;
    @include font-settings($p, 700, $background-dark);
  }
}

.containerSearch {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  border-bottom: 2px solid black;
  transition: all 0.2s ease-in;
  cursor: pointer;
  .poster {
    width: 60px;
    height: 100px;
    border-radius: 10px;
  }
  .ratingContainer {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  &:last-child {
    border: none;
  }
  &:hover {
    background-color: grey;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .poster {
    width: 100%;
    height: 315px;
  }
}
@media screen and (max-width: 1220px) {
  .poster {
    width: 100%;
    height: 285px;
  }
}
:global(.dark-theme) {
  .cardName {
    @include font-settings($p, 700, $white);
  }
}
