@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  position: relative;
  // width: 220px;
  cursor: pointer;
  &:hover {
    .cardName {
      color: $primary;
    }
  }
}

.poster {
  border-radius: 20px;
  height: 350px;
}

.ratingContainer {
  position: absolute;
  top: 20px;
  left: 20px;
}

.cardName {
  transition: all 0.3s ease;
  margin-top: $padding-level6;
  @include font-settings($p, 700, $background-dark);
}

@media screen and (max-width: 1440px) {
  .poster {
    width: 100%;
    height: 315px;
  }
}

img {
  width: 100%;
  aspect-ratio: 1/1.4;
}
