@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  // max-width: 266px;
  cursor: pointer;
  width: 200px;
}

.poster {
  //   width: 266px;
  height: 357px;
  background-position: 50%;
  background-size: cover;
  border-radius: 20px;
}

.ratingContainer {
  position: relative;
  top: 20px;
  left: 20px;
}

.cardName {
  margin-top: $padding-level6;
  @include font-settings($p, 700, $background-dark);
}

@media screen and (max-width: 1440px) {
  .poster {
    width: 100%;
    height: 315px;
  }
}
