@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";
$button-height: 56px;

input[type="button"] {
  @include font-settings(16px, 600, $white);
  height: $button-height;
  border-radius: 10px;
  width: 100%;
  border-color: transparent;

  cursor: pointer;
  &:disabled {
    background-color: $secondary;
    color: $light;
  }
}
.primary {
  background-color: $primary;
  transition: all 0.2s ease;

  &:hover {
    background-color: $primary2;
  }
}
