@import "../../assets/styles/variables.scss";
.layoutContainer {
  padding-top: $padding-level2;
  display: flex;
  // align-items: center;
  gap: 40px;
}

.right {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 261px));
  gap: 40px;
}

@media screen and (max-width: 1440px) {
  .right {
    grid-template-columns: repeat(4, minmax(150px, 261px));
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .left {
    display: none;
  }
}
