@import "../../assets/styles/main.scss";
@import "../../assets/styles/variables.scss";

.container {
  margin: 0;
  padding: 0;
  width: calc(100% / 5 * 4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.component {
  justify-content: center;
  flex-basis: 100%;
  display: flex;
  gap: 40px;
  background-color: transparent;
  border: 2px solid $light;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
}
.resetPasword {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.theme {
  justify-content: space-between;
  display: flex;
  gap: 40px;
  border: 2px solid $light;

  background-color: transparent;
  border-radius: 10px;
  padding: 40px;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .component {
    flex-direction: column;
    align-items: center;
  }
}

:global(.dark-theme) {
  .component,
  .theme {
    border-color: $primary;
  }
}

.label {
  margin-bottom: 25px;
}
