.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 261px));
  gap: 40px;
}

@media screen and (max-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, minmax(150px, 261px));
    gap: 20px;
  }
}
