@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  color: $white;
}

.active {
  background-color: $background-graphite;
}
:global(.dark-theme) {
  .active {
    background-color: $background-graphite;
  }
}
