@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";
.container {
  display: flex;
  flex-direction: column;
  min-width: 158px;
  gap: $padding-level4;
}
.item {
  @include font-settings(18px, 600, $secondary);
  cursor: pointer;
}
