@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  @include font-settings($p, 500, $secondary);
  height: $input-height;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 2px solid $light;
  padding-left: 18px;
}

:global(.dark-theme) {
  .input {
    background-color: $background-graphite;
    border-color: $background-graphite;
  }
}
// .input_dark-theme {
// }
.input:focus {
  border-color: $primary;
}
