.container {
  position: relative;
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(61, 56, 56);
  cursor: pointer;
}
.toggler {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s ease;
}
