@font-face {
  font-family: Inter;
  src: url(./Inter-Medium.ttf);
  //   font-style: normal;
}

.hello {
  color: green;
  font-family: Inter;
  font-weight: 800;
  //   background: url("./icon.png");
  //   height: 500px;
}
