@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  display: flex;
  gap: 35px;
}

.left {
  width: 250px;
}

.right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  gap: 15px;
}
img {
  width: 100%;
}

.poster {
  min-width: 250px;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 25px;
}

.name {
  @include font-settings($h1, 600, $background-black);
}

.ratingAndLength {
  display: flex;
  gap: 20px;
}

.description {
  width: calc(100% / 4 * 3);
}

.descriptionItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center {
  display: none;
}

@media screen and (max-width: 788px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: calc(85%);
    gap: 15px;
  }
  .left {
    display: none;
  }

  .center {
    display: block;
    max-width: 330px;
  }
}
:global(.dark-theme) {
  .description {
    color: $white;
  }
}
