@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include font-settings($p, 400, $background-dark);
}

.light-theme {
  background-color: $white;
}

.dark-theme {
  background-color: $background-black;
}

html,
body {
  height: 100%;
  // margin: 0 auto;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 62px;
  margin: 0 auto;
}

.column-width {
  width: calc(100% / 6);
  max-width: 266px;
  min-width: 150px;
}

.column-width5 {
  width: calc(100% / 6 * 5);
  max-width: 1530px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }
  .column-width5 {
    width: 100%;
  }
}

h1 {
  @include font-settings(40px, 600, $background-black);
}
h2 {
  @include font-settings(24px, 600, $background-black);
}

h3 {
  @include font-settings(20px, 600, $background-black);
}
h4 {
  @include font-settings(18px, 600, $background-black);
}
p {
  @include font-settings(16px, 600, $background-black);
}

:global(.dark-theme) {
  h1 {
    @include font-settings(40px, 600, $white);
  }
  h2 {
    @include font-settings(24px, 600, $white);
  }

  h3 {
    @include font-settings(20px, 600, $white);
  }
  h4 {
    @include font-settings(18px, 600, $white);
  }
  p {
    @include font-settings(16px, 600, $white);
  }
}

// :global(.light-theme) .search__input {
//   h1 {
//     @include font-settings(40px, 600, $background-black);
//   }
//   h2 {
//     @include font-settings(24px, 600, $background-black);
//   }

//   h3 {
//     @include font-settings(20px, 600, $background-black);
//   }
//   h4 {
//     @include font-settings(18px, 600, $background-black);
//   }
//   p {
//     @include font-settings(16px, 600, $background-black);
//   }
// }
