.slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.slides {
  transition: all 0.5s ease;
  width: 3000px;
  display: flex;
  gap: 30px;
}

.slide {
  flex-basis: 200px;
  transition: all 0.5s ease;
}

.sliderButtonContainer {
  display: flex;
  gap: 20px;
  align-self: flex-end;
  margin: 10px 0 10px 0;
}
